#Name des Workflows
name: Release erstellen

#Workflow wird gestartet... 
#...bei manuellem Eingereifen (workflow_dispatch)
#...ein Mal im Monat am ersten Tag um 00:00 Uhr UTC

on:
  workflow_dispatch:
  schedule:
    # Job wird um 00:00 Uhr UTC am ersten Tag jedes dritten Monats gestartet
    - cron: '0 0 1 */3 *'
      

jobs:
  #Job zum Erstellen des Releases
  create_release:
    #Ubuntu-Image wird verwendet
    runs-on: ubuntu-latest

    steps:
    #Repository wird ausgecheckt
    - name: Checkout Repository
      uses: actions/checkout@v6

    #Aktuelles Datum als Umgebungsvariable gespeichert
    - name: Set Current Date
      id: set-date
      run: echo "CURRENT_DATE=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

    #Installiere Anwendung "hub" zum Erstellen des Release
    - name: Install hub
      run: sudo apt install hub -y

    #Release wird erstellt
    - name: Create release
      run: |
        TAGNAME=${{ github.ref_name }}
        hub release create -m "Ausgaben_Tracker" -t "master" "release-$CURRENT_DATE"
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
